header{
    text-align: center;
    color: green;
}
img{
    border: 5px solid black;
}
#insideDiv{
    border: 1px solid black;
    margin: 5px;
    background-color: antiquewhite;
}
body{
    background-color: aquamarine;
    border: 1px solid black;
}
h2{
    text-align: center;
    color: green;
}
p{
    margin: 8px;
}