body{
    background-color: gainsboro;
    text-align: center;
}

.divPar{
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

.divPar2{
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
}